<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
</head>
<body>
    <form method="post" action="http://localhost:3000/posts"> 
        <h1>Create a new Post</h1>
        <input placeholder="enter your name" type="text" name="username">
        <br><br>
        <textarea placeholder="type your content" name="content" rows="8" cols="40"></textarea>
        <br><br>
        <button>Add Post</button>
    </form>
    <br>
    <a href="http://localhost:3000/posts">Back to all posts</a>
</body>
</html>