<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
</head>
<body>
    <h1>Edit your post</h1>
    <p>Username:<%=post.username%></p>
    <p>Post id:<%= post.id%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
       <textarea name="content" rows="8" cols="40"><%=post.content %> </textarea>
       <br><br>
       <button>Submit</button>
    </form>
    <br>
    <a href="http://localhost:3000/posts">Back to all posts</a>
</body>
</html>